In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
### para llmar funciones
import sys
sys.path.append('../')
from src import soporte_limpieza as sl

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
### esto para llama funciones
### df['nombrecolumnanueva'] = df['col'].apply(sl.sumar)

In [5]:
### Importación de los archivos

df_2013 = pd.read_csv("../datos/datos-2013.csv", delimiter=";", parse_dates=['DATA LANÇAMENTO'])
df_2014 = pd.read_csv("../datos/datos-2014.csv", delimiter=";", parse_dates=['DATA LANÇAMENTO'])
df_2015 = pd.read_csv("../datos/datos-2015.csv", delimiter=";", parse_dates=['DATA LANÇAMENTO'])
df_2016 = pd.read_csv("../datos/datos-2016.csv", delimiter=";", parse_dates=['DATA LANÇAMENTO']) 
df_2017 = pd.read_csv("../datos/datos-2017.csv", delimiter=";", parse_dates=['DATA LANÇAMENTO']) 
df_2018 = pd.read_csv("../datos/datos-2018.csv", delimiter=";", parse_dates=['DATA LANÇAMENTO']) 
df_2019 = pd.read_csv("../datos/datos-2019.csv", delimiter=";", parse_dates=['DATA LANÇAMENTO']) 
df_2020 = pd.read_csv("../datos/datos-2020.csv", delimiter=";", parse_dates=['DATA LANÇAMENTO']) 
df_2021 = pd.read_csv("../datos/datos-2021.csv", delimiter=";", parse_dates=['DATA LANÇAMENTO'])

C:\Users\DELL\AppData\Local\Temp\ipykernel_22732\1337882092.py:3: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_2013 = pd.read_csv("../datos/datos-2013.csv", delimiter=";", parse_dates=['DATA LANÇAMENTO'])
C:\Users\DELL\AppData\Local\Temp\ipykernel_22732\1337882092.py:4: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_2014 = pd.read_csv("../datos/datos-2014.csv", delimiter=";", parse_dates=['DATA LANÇAMENTO'])
C:\Users\DELL\AppData\Local\Temp\ipykernel_22732\1337882092.py:5: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_2015 = pd.read_csv("../datos/datos-2015.csv", delimiter=";", parse_dates=['DATA LANÇAMENTO'])
C:\Users\DELL\AppData\Local\Temp\ipykernel_22732\1337882092.py:7: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_2017 = pd.read_csv("../datos/datos-2017.csv", delimiter=";", parse_dates=['DATA LANÇAMENTO'])
C:\Users\DELL\AppData\Local\Temp\ipykernel_22732\1337882092.py:8: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_2018 = pd.read_csv("../datos/datos-2018.csv", delimiter=";", parse_dates=['DATA LANÇAMENTO'])
C:\Users\DELL\AppData\Local\Temp\ipykernel_22732\1337882092.py:10: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_2020 = pd.read_csv("../datos/datos-2020.csv", delimiter=";", parse_dates=['DATA LANÇAMENTO'])
C:\Users\DELL\AppData\Local\Temp\ipykernel_22732\1337882092.py:11: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_2021 = pd.read_csv("../datos/datos-2021.csv", delimiter=";", parse_dates=['DATA LANÇAMENTO'])

In [6]:
df_2019["DATA LANÇAMENTO"] = pd.to_datetime(df_2019["DATA LANÇAMENTO"], format="%d/%m/%Y")
df_2019["DATA LANÇAMENTO"]  #cambio a fecha

df_2016["DATA LANÇAMENTO"] = pd.to_datetime(df_2016["DATA LANÇAMENTO"], format="%d/%m/%Y")
df_2016["DATA LANÇAMENTO"]  #cambio a fecha

### esto debido a que no todas tenían el mismo formato

0        2016-04-04
1        2016-12-08
2        2016-08-22
3        2016-03-21
4        2016-11-04
            ...
194528   2016-01-11
194529   2016-01-21
194530   2016-01-20
194531   2016-02-26
194532   2016-01-13
Name: DATA LANÇAMENTO, Length: 194533, dtype: datetime64[ns]

In [7]:
### llena los años

listadf = [df_2013, df_2014, df_2015, df_2016, df_2017, df_2018, df_2019, df_2020, df_2021]
lista_años = [2013,2014,2015,2016,2017,2018,2019,2020,2021]
def fillyear(df,year):
    df['ANO EXERCÍCIO'] = df['ANO EXERCÍCIO'].fillna(year)
    return df

In [8]:
listadf_anos =list(map(fillyear, listadf, lista_años))

In [9]:
df_llena = pd.concat(listadf_anos).reset_index(drop=True)
df_llena['ANO EXERCÍCIO'] = df_llena['ANO EXERCÍCIO'].astype(int)

In [10]:
### aquí voy rellenando los nombres en base a sus respectivos códigos

df_llena['NOME ÓRGÃO SUPERIOR'] = df_llena.groupby('CÓDIGO ÓRGÃO SUPERIOR')['NOME ÓRGÃO SUPERIOR'].transform(lambda x: x.fillna(method='ffill'))
df_llena['NOME ÓRGÃO SUPERIOR'].info() #Columna codigo y nombre

df_llena['NOME ÓRGÃO'] = df_llena.groupby('CÓDIGO ÓRGÃO')['NOME ÓRGÃO'].transform(lambda x: x.fillna(method='ffill'))
df_llena['NOME ÓRGÃO'].info() #Columna codigo y nombre

df_llena['CÓDIGO UNIDADE GESTORA'] = df_llena.groupby('NOME UNIDADE GESTORA')['CÓDIGO UNIDADE GESTORA'].transform(lambda x: x.fillna(method='ffill'))
df_llena['CÓDIGO UNIDADE GESTORA'] #Columna codigo y nombre

C:\Users\DELL\AppData\Local\Temp\ipykernel_22732\3588227548.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_llena['NOME ÓRGÃO SUPERIOR'] = df_llena.groupby('CÓDIGO ÓRGÃO SUPERIOR')['NOME ÓRGÃO SUPERIOR'].transform(lambda x: x.fillna(method='ffill'))

<class 'pandas.core.series.Series'>
RangeIndex: 1026299 entries, 0 to 1026298
Series name: NOME ÓRGÃO SUPERIOR
Non-Null Count   Dtype
--------------   -----
995921 non-null  object
dtypes: object(1)
memory usage: 7.8+ MB

C:\Users\DELL\AppData\Local\Temp\ipykernel_22732\3588227548.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_llena['NOME ÓRGÃO'] = df_llena.groupby('CÓDIGO ÓRGÃO')['NOME ÓRGÃO'].transform(lambda x: x.fillna(method='ffill'))

<class 'pandas.core.series.Series'>
RangeIndex: 1026299 entries, 0 to 1026298
Series name: NOME ÓRGÃO
Non-Null Count    Dtype
--------------    -----
1001164 non-null  object
dtypes: object(1)
memory usage: 7.8+ MB

C:\Users\DELL\AppData\Local\Temp\ipykernel_22732\3588227548.py:9: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_llena['CÓDIGO UNIDADE GESTORA'] = df_llena.groupby('NOME UNIDADE GESTORA')['CÓDIGO UNIDADE GESTORA'].transform(lambda x: x.fillna(method='ffill'))

0          110060.0
1          110060.0
2          110060.0
3          110060.0
4          110060.0
             ...
1026294    243001.0
1026295    243001.0
1026296    243001.0
1026297    243001.0
1026298    243001.0
Name: CÓDIGO UNIDADE GESTORA, Length: 1026299, dtype: float64

In [11]:
df_llena.sample(5)

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
485324,26000.0,Ministério da Educação,26246.0,Universidade Federal de Santa Catarina,153163.0,UNIVERSIDADE FEDERAL DE SANTA CATARINA,Receitas Correntes,Receita Patrimonial,Valores Mobiliários,REMUNERACAO DE DEPOSITOS BANCARIOS-PRINCIPAL,"0,00","0,00","23247,74","0,00",2018-02-08,2018
82613,26000.0,Ministério da Educação,26238.0,Universidade Federal de Minas Gerais,153062.0,UNIVERSIDADE FEDERAL DE MINAS GERAIS,Receitas Correntes,Receita Agropecuária,Receita Agropecuária,RECEITA AGROPECUARIA-PRINCIPAL,"0,00","0,00","940,00","0,00",2016-08-11,2016
132183,26000.0,Ministério da Educação,26231.0,Universidade Federal de Alagoas,153037.0,UNIVERSIDADE FEDERAL DE ALAGOAS,Receitas Correntes,Receita Patrimonial,Exploração do patrimônio imobiliário do Estad,ALUGUEIS E ARRENDAMENTOS-PRINCIPAL,"0,00","0,00","3557,54","0,00",2016-01-28,2016
533960,39000.0,Ministério da Infraestrutura,39252.0,Departamento Nacional de Infraestrutura de Tra...,393003.0,DEPART.NAC.INFRA ESTRUTURA TRANSPORTES.,Receitas de Capital,Alienação de Bens,Alienação de bens móveis,ALIENACAO DE BENS MOVEIS E SEMOVENTES-PRINC.,"0,00","0,00","95,00","0,00",2018-07-10,2018
902641,24000.0,"Ministério da Ciência, Tecnologia, Inovações",20301.0,Comissão Nacional de Energia Nuclear,113209.0,CNEN-ORCAMENTO E FINANCAS,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Taxas,"TAXAS INSPECAO,CONTROLE E FISCALIZACAO-PRINC.","0,00","0,00","30833,67","0,00",2021-02-09,2021

In [12]:
df_llena['PERCENTUAL REALIZADO'] = df_llena['PERCENTUAL REALIZADO'].str.replace(',', '.')
df_llena["PERCENTUAL REALIZADO"] = df_llena["PERCENTUAL REALIZADO"].astype(float) ### convierto esta columna a float

In [13]:
df_llena.duplicated().sum()

np.int64(172)

In [14]:
df_llena.drop_duplicates(keep= "first", inplace=True) ### elimina los duplicados y se queda con el indice lista del ultimo

In [15]:
df_llena.duplicated().sum()

np.int64(0)

In [16]:
df_llena['VALOR PREVISTO ATUALIZADO'] = df_llena['VALOR PREVISTO ATUALIZADO'].str.replace(',', '.')
df_llena["VALOR PREVISTO ATUALIZADO"] = df_llena["VALOR PREVISTO ATUALIZADO"].astype(float)

df_llena['VALOR LANÇADO'] = df_llena['VALOR LANÇADO'].str.replace(',', '.')
df_llena["VALOR LANÇADO"] = df_llena["VALOR LANÇADO"].astype(float)

df_llena['VALOR REALIZADO'] = df_llena['VALOR REALIZADO'].str.replace(',', '.')
df_llena["VALOR REALIZADO"] = df_llena["VALOR REALIZADO"].astype(float)

### convierto estas columnas a float

In [17]:
df_llena['VALOR PREVISTO ATUALIZADO'].sample(5)

467953    0.0
3435      NaN
708002    0.0
785652    0.0
20119     0.0
Name: VALOR PREVISTO ATUALIZADO, dtype: float64

In [18]:
df_llena.duplicated().sum()

np.int64(0)

In [19]:
df_llena[df_llena.duplicated(keep=False)]

Empty DataFrame
Columns: [CÓDIGO ÓRGÃO SUPERIOR, NOME ÓRGÃO SUPERIOR, CÓDIGO ÓRGÃO, NOME ÓRGÃO, CÓDIGO UNIDADE GESTORA, NOME UNIDADE GESTORA, CATEGORIA ECONÔMICA, ORIGEM RECEITA, ESPÉCIE RECEITA, DETALHAMENTO, VALOR PREVISTO ATUALIZADO, VALOR LANÇADO, VALOR REALIZADO, PERCENTUAL REALIZADO, DATA LANÇAMENTO, ANO EXERCÍCIO]
Index: []

In [20]:
df_llena.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1026127 entries, 0 to 1026298
Data columns (total 16 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   CÓDIGO ÓRGÃO SUPERIOR      995768 non-null   float64
 1   NOME ÓRGÃO SUPERIOR        995749 non-null   object
 2   CÓDIGO ÓRGÃO               1001010 non-null  float64
 3   NOME ÓRGÃO                 1000992 non-null  object
 4   CÓDIGO UNIDADE GESTORA     1006636 non-null  float64
 5   NOME UNIDADE GESTORA       1006648 non-null  object
 6   CATEGORIA ECONÔMICA        1007149 non-null  object
 7   ORIGEM RECEITA             987710 non-null   object
 8   ESPÉCIE RECEITA            994200 non-null   object
 9   DETALHAMENTO               996791 non-null   object
 10  VALOR PREVISTO ATUALIZADO  974812 non-null   float64
 11  VALOR LANÇADO              999708 non-null   float64
 12  VALOR REALIZADO            986708 non-null   float64
 13  PERCENTUAL REALIZADO       1001993 non-null  float64
 14  DATA LANÇAMENTO            1002467 non-null  datetime64[ns]
 15  ANO EXERCÍCIO              1026127 non-null  int64
dtypes: datetime64[ns](1), float64(7), int64(1), object(7)
memory usage: 133.1+ MB

In [21]:
df_llena['CATEGORIA ECONÔMICA'].value_counts()

CATEGORIA ECONÔMICA
Receitas Correntes                           961360
Receitas de Capital                           29523
Receitas Correntes - intra-orçamentárias      15924
Sem informação                                  252
Receitas de Capital - intra-orçamentárias        90
Name: count, dtype: int64

In [22]:
df_llena['CATEGORIA ECONÔMICA'].isna().sum()

np.int64(18978)

In [23]:
df_llena['CATEGORIA ECONÔMICA'] = df_llena['CATEGORIA ECONÔMICA'].fillna('Sem informação')

In [24]:
df_llena['ORIGEM RECEITA'] = df_llena['ORIGEM RECEITA'].fillna('Sem informação')
###

In [44]:
df_llena['ESPÉCIE RECEITA'] = df_llena['ESPÉCIE RECEITA'].fillna('Sem informação')

In [60]:
df_llena['DETALHAMENTO'] = df_llena['DETALHAMENTO'].fillna('Sem informação')

***Exploración***

In [61]:
df_llena['CATEGORIA ECONÔMICA'].unique()

array(['Receitas Correntes', 'Receitas de Capital', 'Sem informação',
       'Receitas Correntes - intra-orçamentárias',
       'Receitas de Capital - intra-orçamentárias'], dtype=object)

In [62]:
df_llena['PERCENTUAL REALIZADO'].describe().T

count    1.001993e+06
mean     8.220896e+01
std      7.234290e+04
min     -1.145520e+05
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      7.236377e+07
Name: PERCENTUAL REALIZADO, dtype: float64

In [63]:
df_prueba1 = df_llena.groupby('CATEGORIA ECONÔMICA')[['VALOR PREVISTO ATUALIZADO']].sum()

df_prueba1['VALOR PREVISTO ATUALIZADO'] = df_prueba1['VALOR PREVISTO ATUALIZADO'].apply(lambda x: '{:.2f}'.format(x))

df_prueba1

                                          VALOR PREVISTO ATUALIZADO
CATEGORIA ECONÔMICA
Receitas Correntes                                13144753876517.01
Receitas Correntes - intra-orçamentárias            269427807626.00
Receitas de Capital                               13499860476962.40
Receitas de Capital - intra-orçamentárias            10808411537.00
Sem informação                                     1016379861124.19

In [64]:
df_prueba = df_llena.groupby('CATEGORIA ECONÔMICA')[['VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO', 'VALOR REALIZADO']].sum()
df_prueba

,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO
CATEGORIA ECONÔMICA,,,
Receitas Correntes,1.314475e+13,5.096879e+12,1.202508e+13
Receitas Correntes - intra-orçamentárias,2.694278e+11,0.000000e+00,2.805787e+11
Receitas de Capital,1.349986e+13,3.620769e+06,1.200415e+13
Receitas de Capital - intra-orçamentárias,1.080841e+10,0.000000e+00,2.141127e+10
Sem informação,1.016380e+12,1.792732e+11,3.271665e+11

*** data frame corrupción ***
* Aquí tenemos el funcionamiento de latinoamérica, distribuido en 3 momentos:
- Valor Previsto Actualizado es lo que el gobierno prevee como ingreso
- Valor Lanzado es lo que se presenta en los libros, lo que se contabiliza como esperado.
- Valor Realizado fue lo que realmente se consiguió como ingresos.

* Esto quiere decir que el gobierno apuntaba a una recolección de ingresos alta, sin embargo hizo una declaración baja sobre lo esperado (incluso blaqueó algunas cifras) y se consiguió que la realidad de ingresos fuese cercana a esa primera estimación.

* Valor Realizado - valor Lanzado es la corrupción.

In [65]:
df_prueba2 = df_llena.groupby('CATEGORIA ECONÔMICA')[['VALOR LANÇADO']].sum()

df_prueba2['VALOR LANÇADO'] = df_prueba2['VALOR LANÇADO'].apply(lambda x: '{:.2f}'.format(x))

df_prueba2

                                              VALOR LANÇADO
CATEGORIA ECONÔMICA
Receitas Correntes                         5096878731189.07
Receitas Correntes - intra-orçamentárias               0.00
Receitas de Capital                              3620769.28
Receitas de Capital - intra-orçamentárias              0.00
Sem informação                              179273190887.94

In [66]:
df_prueba3 = df_llena.groupby('CATEGORIA ECONÔMICA')[['VALOR REALIZADO']].sum()

df_prueba3['VALOR REALIZADO'] = df_prueba3['VALOR REALIZADO'].apply(lambda x: '{:.2f}'.format(x))

df_prueba3

                                             VALOR REALIZADO
CATEGORIA ECONÔMICA
Receitas Correntes                         12025075713610.35
Receitas Correntes - intra-orçamentárias     280578708925.83
Receitas de Capital                        12004146145893.74
Receitas de Capital - intra-orçamentárias     21411268074.28
Sem informação                               327166482053.52

In [67]:
### diccionario funcional

# nuevas_columnas = {i : i.lower() for i in df_2013.columns}
# df_2013.rename(nuevas_columnas, inplace= True, axis = 1) 

# cambio_nombre_columnas = {
#     'código órgão superior':'codigo_entidad',
#     'nome órgão superior':'nombre_entidad',
#     'código órgão':'codigo_especifica',
#     'nome órgão':'nombre_entidad_especifica',
#     'código unidade gestora':'codigo_unidad_gestora',
#     'nome unidade gestora':'nombre_unidad_gestora',
#     'categoria econômica':'clasificacion_ingresos',
#     'origem receita':'fuente_ingreso',
#     'espécie receita':'tipo_ingreso',
#     'detalhamento':'detalle_ingreso',
#     'valor previsto atualizado':'monto_previsto_actualizado',
#     'valor lançado':'monto_lanzado',
#     'valor realizado':'monto_recaudado',
#     'percentual realizado':'porcentaje_recaudado',
#     'data lançamento':'fecha_lanzamiento',
#     'ano exercício':'anio_ejercicio'
# }

# df_2013.rename(columns = cambio_nombre_columnas,inplace= True)

In [68]:
df_llena.isnull().sum()

CÓDIGO ÓRGÃO SUPERIOR        30359
NOME ÓRGÃO SUPERIOR          30378
CÓDIGO ÓRGÃO                 25117
NOME ÓRGÃO                   25135
CÓDIGO UNIDADE GESTORA       19491
NOME UNIDADE GESTORA         19479
CATEGORIA ECONÔMICA              0
ORIGEM RECEITA                   0
ESPÉCIE RECEITA                  0
DETALHAMENTO                     0
VALOR PREVISTO ATUALIZADO    51315
VALOR LANÇADO                26419
VALOR REALIZADO              39419
PERCENTUAL REALIZADO         24134
DATA LANÇAMENTO              23660
ANO EXERCÍCIO                    0
dtype: int64

In [69]:
df_llena['CATEGORIA ECONÔMICA'].unique()

array(['Receitas Correntes', 'Receitas de Capital', 'Sem informação',
       'Receitas Correntes - intra-orçamentárias',
       'Receitas de Capital - intra-orçamentárias'], dtype=object)

In [70]:
df_llena.describe()

,CÓDIGO ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,CÓDIGO UNIDADE GESTORA,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
count,995768.000000,1.001010e+06,1.006636e+06,9.748120e+05,9.997080e+05,9.867080e+05,1.001993e+06,1002467,1.026127e+06
mean,32053.762523,3.143850e+04,2.312371e+05,2.866320e+07,5.277697e+06,2.499055e+07,8.220896e+01,2018-09-20 04:04:29.177539328,2.018226e+03
min,20000.000000,2.010100e+04,1.100050e+05,-2.147737e+08,-1.483473e+11,-1.562859e+11,-1.145520e+05,2013-12-31 00:00:00,2.013000e+03
25%,25000.000000,2.520100e+04,1.540030e+05,0.000000e+00,0.000000e+00,2.609375e+02,0.000000e+00,2017-03-30 00:00:00,2.017000e+03
50%,26000.000000,2.629800e+04,1.700130e+05,0.000000e+00,0.000000e+00,3.028885e+03,0.000000e+00,2018-08-29 00:00:00,2.018000e+03
75%,39000.000000,3.600000e+04,2.500880e+05,0.000000e+00,0.000000e+00,4.095573e+04,0.000000e+00,2020-02-12 00:00:00,2.020000e+03
max,81000.000000,9.121400e+04,9.130010e+05,1.603522e+12,3.571607e+11,7.711177e+11,7.236377e+07,2021-12-03 00:00:00,2.021000e+03
std,10615.079694,1.038640e+04,1.441269e+05,3.479226e+09,8.171592e+08,1.418152e+09,7.234290e+04,NaN,1.737983e+00

In [71]:
df_llena.dtypes

CÓDIGO ÓRGÃO SUPERIOR               float64
NOME ÓRGÃO SUPERIOR                  object
CÓDIGO ÓRGÃO                        float64
NOME ÓRGÃO                           object
CÓDIGO UNIDADE GESTORA              float64
NOME UNIDADE GESTORA                 object
CATEGORIA ECONÔMICA                  object
ORIGEM RECEITA                       object
ESPÉCIE RECEITA                      object
DETALHAMENTO                         object
VALOR PREVISTO ATUALIZADO           float64
VALOR LANÇADO                       float64
VALOR REALIZADO                     float64
PERCENTUAL REALIZADO                float64
DATA LANÇAMENTO              datetime64[ns]
ANO EXERCÍCIO                         int64
dtype: object

In [72]:
df_llena['ESPÉCIE RECEITA'].isna().sum()

np.int64(0)

*** Hemos tomado los datos nulos y los hemos sumado a la categoría de Sem información. De esta forma no asumimos la categoría ya que no tenemos la certeza de donde puede venir (varible categoría económica/variable origem receita/)

*** Hemos imputado valores de las 6 primeras columnas (códigos-nombres) utilizando la forma de rellenar esa información haciendo uso de la relación que llevan coódigo-nombre. 

*** En las primeras 6 columnas pudieramos contemplar la posibilidad de abrir un nuevo valor (Sem informacion) debido a que aun habiendo imputado, quedan algunos datos nulos.

In [73]:
df_llena['ORIGEM RECEITA'].sample(5)

666414                            Receita Patrimonial
284973                            Receita de Serviços
71059                       Outras Receitas Correntes
324093                           Receita Agropecuária
77558     Impostos, Taxas e Contribuições de Melhoria
Name: ORIGEM RECEITA, dtype: object

In [74]:
df_llena['ORIGEM RECEITA'].unique()

array(['Outras Receitas Correntes', 'Receita de Serviços',
       'Transferências de Capital', 'Alienação de Bens',
       'Receita Agropecuária', 'Transferências Correntes',
       'Receita Patrimonial', 'Operações de Crédito',
       'Impostos, Taxas e Contribuições de Melhoria', 'Sem informação',
       'Amortizações de Empréstimos', 'Contribuições',
       'Receita Industrial', 'Outras Receitas de Capital',
       'Receitas Correntes - a classificar'], dtype=object)

In [75]:
a = df_llena['ESPÉCIE RECEITA'] == 'Sem informação'
a.sum()

np.int64(32172)